<extend name="Public:base" />
<block name="title"><title>栏目设置</title></block>
    <block name="top-1">首页</block><block name="top-2">首页设置</block><block name="top-3">关键字词、首页标题</block>
<block name="content">

    <div class="cl pd-5 bg-1 bk-gray mt-8">
        <span class="l">
        <a href="javascript:;" onclick="category_add('添加内容','__URL__/keywords_add/type/show',800,300)" class="btn btn-primary radius" id="myModal"><i class="Hui-iconfont">&#xe604;</i> 添加内容</a>
    </span>
       </div>
<div style="padding: 10px;">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="90">类型</th>
            <th>内容</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr>
                <td class="text-c">{$vo.type}</td>
                <td>{$vo.content}</td>
                <td class="f-18 text-c"><a title="编辑" href="javascript:;" onclick="category_edit('栏目编辑','__URL__/keywords_edit/type/show','{$vo.id}','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="category_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
    <script>
        /*栏目-添加*/
        function category_add(title,url,w,h){
            layer_show(title,url,w,h);
        }
        /*栏目-编辑*/
        function category_edit(title,url,id,w,h){
            layer_show(title,url+"/id/"+id,w,h);
        }
        /*栏目-多-删除*/
        function data_del(){
                    var text = $("input:checkbox[name='checkbox']:checked").map(function(index,elem) {
                        return $(elem).val();
                    }).get().join(',');
            var postdata={"listid":text};
            layer.confirm('确认要删除这些吗？',function(index){
                //此处请求后台程序，下方是成功后的前台处理……
                $.ajax({
                    type: 'post',
                    url: '__URL__/keywords_del',
                    data:postdata,
                    success: function (data) {
                        if(data==="1"){
                            window.location.reload();
                        }else{
                            layer.confirm(data);
                        }
                    }});

            });
        }
        /*栏目-单-删除*/
        function category_del(obj,id){
            layer.confirm('确认要删除吗？',function(index){
                //此处请求后台程序，下方是成功后的前台处理……
                $.ajax({
                    type: 'get',
                    url: '__URL__/keywords_del/id/'+id,
                    success: function (data) {
                        if(data==="1"){
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:1000});
                        }else{
                            layer.confirm(data);
                        }
                    }});

            });
        }
    </script>
</block>