<extend name="Public:base" />
<block name="title"><title>栏目设置</title></block>
<block name="top-1">管理员管理</block><block name="top-2">权限设置</block><block name="top-3">添加权限</block>
<block name="content">

    <div class="page-container">
        <form method="post" class="form form-horizontal" id="form-category-add">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr align="center">
                    <td width="80px" height="40px">权限名称</td>
                    <td>
                        <div class="formControls">
                        <input type="text" class="input-text radius " value="" placeholder="权限名称" autocomplete="off" name="title" id="title">
                        </div>
                    </td>
                    <td width="80px">功能方法</td>
                    <td>
                        <div class="formControls">
                        <input type="text" class="input-text radius" value="" placeholder=" for English" autocomplete="off"  name="name"  id="name">
                        </div>
                    </td>
                </tr>
                <tr align="center">
                    <td height="40px">父级权限</td>
                    <td align="left">
                        {$selectlist[0].title}<input type="hidden" value="{$selectlist[0].id}" name="pid">
                    </td>
                    <td>权限排序</td>
                    <td> <span class="select-box radius">
                          <select class="select" size="1" name="sort">
                              <option value="1" selected>1</option>
                              <for start="2" end="11">
                                  <option value="{$i}">{$i}</option>
                              </for>
                          </select>
                        </span></td>
                </tr>
                <tr>
                    <td colspan="4" align="center" height="80px" valign="center"><input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"></td>
                </tr>
            </table>
        </form>
    </div>
    <script>

        $("#form-category-add").validate({
            rules:{
                name:{
                    required:true,
                    minlength:2,
                    maxlength:100
                },
                title:{
                    required:true
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                var postData = $(form).serializeArray();
                $.ajax({
                    type:"post",
                    url:"__URL__/node_add/type/save",
                    data: postData,//表单数据
                    success:function(d){
                        if(d==='1'){
                            parent.layer.msg('保存成功!<script>setTimeout("window.location.reload();",500);<\/script>', {icon: 6,time:1000});
                            parent.$('.btn-refresh').click();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);

                        }else{
                            layer.msg(d);
                        }
                    }
                });
            }
        });
    </script>

</block>