<extend name="Public:base" />
<block name="style">
    <style>
        .menu-2-ul{list-style:none;position:relative;top: 240px;font-size: 16px;}
        .menu-2-ul li{padding: 10px 0 10px 0;}
        .menu-2-ul li a:visited {color:#fff;text-decoration:none;}
        .menu-2-ul li a:link{color: #fff; text-decoration:none;}
        .titleinfo{position: absolute;top: 18px;left: 320px;}
        .title-cn{font-size: 18px;color: #b5b5b6;line-height: 28px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu }
        .title-en{font-size: 16px;color: #b5b5b6;font-family: arial, helvetica, sans-serif;}
        hr{position: absolute;top: 70px;left: 320px;width: 1000px;border:1px #595757 solid ;}
        .index{color: #595757;position: absolute;right: 120px;top: 50px;}
        .newstitle{color: #fff;position: absolute;left: 320px;top: 80px;font-size: 12px;height:550px;overflow-y: auto; width: 1000px;}
    </style>
</block>
<block name="left-2-menu">
    <ul class="menu-2-ul">
        <volist name="menu2list" id="vo">
            <li id="menu2-li{$vo.id}"><a href="__ROOT__/{$vo.link}.html">{$vo.name}</a></li>
        </volist>
    </ul>
</block>
<block name="right">
    <span class="titleinfo"><span class="title-cn">{$navigation[name]}</span><br>
        <span class="title-en">{$navigation[n_en]}</span></span><span class="index">
    <img src="__PUBLIC__/img/index/news02.png" style="margin: 0;vertical-align:top;"> 首页 > {$navigation[pname]} > {$navigation[name]}</span>
    <hr/>
    <div class="newstitle">
        {$content}
    </div>
</block>
<block name="js">
    <script>
        $("#li-{$jqid}").css({
            "color":"#fff",
            "background-color":"#151616"
        });
        $("#menu2-li{$pid}").css({
            "border-right":"1px #6a7074 solid"
        });
        $("#menu2-li{$pid}").find('a').css({
            "color":"#999797"
        });
    </script>
</block>