<extend name="Public:base" />

<block name="title">
    <!--编辑器组件-->
    <script type="text/javascript"  src="__PUBLIC__/kindeditor/kindeditor-all.js"></script>
    <script type="text/javascript"  src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
    <title>添加产品</title>
    <script>
        var nowtimes;
        nowtimes=Date.parse(new Date())/1000;
        KindEditor.ready(function(K) {
            var editor = K.create('textarea[name="content"]', {
                resizeType : 1,  // 2时可以拖动改变宽度和高度，1时只能改变高度，0时不能拖动。
                allowFileManager : true,  //显示浏览远程服务器按钮
                pasteType :1,//0禁止粘贴   1文本模式  2:HTML粘贴
                width:'100%',
                items : [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist'],
                uploadJson:'__URL__/indexadd/type/upload/SSID/{:session_id()}/fileid/'+nowtimes,
                afterBlur: function(){this.sync();},
                afterCreate : function() {
                    var self = this;
                    K.ctrl(document, 13, function() {
                        self.sync();
                        K('form[name=content]')[0].submit();
                    });
                    K.ctrl(self.edit.doc, 13, function() {
                        self.sync();
                        K('form[name=content]')[0].submit();
                    });
                },
                afterChange : function() {
                    $('.word_count1').html(this.count()); //字数统计包含HTML代码
                    $('.word_count2').html(this.count('text'));  //字数统计包含纯文本、IMG、EMBED，不包含换行符，IMG和EMBED算一个文字
                    //////////
                    //限制字数
                    var limitNum = 15000;  //设定限制字数
                    var pattern = '还可以输入' + limitNum + '字';
                    $('.word_surplus').html(pattern); //输入显示
                    if(this.count() > limitNum) {
                        pattern = ('字数超过限制，请适当删除部分内容');
                        //超过字数限制自动截取
                        var strValue = editor.text();
                        strValue = strValue.substring(0,limitNum);
                        editor.text(strValue);
                    } else {
                        //计算剩余字数
                        var result = limitNum - this.count();
                        pattern = '还可以输入' +  result + '字';
                    }
                    $('.word_surplus').html(pattern); //输入显示
                }
            });
                var uploadbutton = K.uploadbutton({
                    button : K('#uploadbtn')[0],
                    fieldName : 'imgFile',
                    url : '__URL__/indexadd/type/upload/fileid/'+nowtimes,
                    afterUpload : function(data) {
                        if (data.error === 0) {
                            var url = K.formatUrl(data.url, 'absolute');
                            $('#img_url_0').val(url);
                            $('#imgshow').attr("src",'');
                            $('#imgshow').css("display","inline");
                            $('#imgshow').attr("src",url);
                            $('#delete_files').css("display","inline");
                            $('.btnupload').css("display","none");
                        } else {
                            alert(data.message);
                        }
                    },
                    afterError : function(str) {
                        alert('自己定义错误信息: ' + str);
                    }
                });
                uploadbutton.fileBox.change(function(e) {
                    uploadbutton.submit();
                });
        });
    </script>
</block>
<block name="top-1">内容管理</block><block name="top-2">产品管理</block><block name="top-3">添加产品</block>
<block name="content">
    <div class="page-container">
        <form method="post" class="form form-horizontal" id="form-category-add" autocomplete="off">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr align="center">
                <td width="50px">名称</td>
                <td>
                    <div class="formControls">
                        <input type="text" class="input-text radius " value="" placeholder="名称" autocomplete="off" name="name" id="name">
                    </div>
                </td>
                <td width="50px">副标题</td>
                <td>
                    <div class="formControls">
                        <input type="text" class="input-text radius " value="" placeholder="副标题" autocomplete="off" name="pname" id="pname">
                    </div>
                </td>
                </tr>
                <tr align="center">
                    <td width="50px">香型</td>
                    <td>
                        <div class="formControls">
                            <input type="text" class="input-text radius " value="" placeholder="香型" autocomplete="off" name="xx" id="xx">
                        </div>
                    </td>
                    <td width="50px">包装</td>
                    <td>
                        <div class="formControls">
                            <input type="text" class="input-text radius " value="" placeholder="包装" autocomplete="off" name="bz" id="bz">
                        </div>
                    </td>
                </tr>
                <tr align="center">
                    <td width="50px">酒精度</td>
                    <td>
                        <div class="formControls">
                            <input type="text" class="input-text radius " value="" placeholder="酒精度" autocomplete="off" name="jjd" id="jjd">
                        </div>
                    </td>
                    <td width="50px">净含量</td>
                    <td>
                        <div class="formControls">
                            <input type="text" class="input-text radius " value="" placeholder="净含量" autocomplete="off" name="jhl" id="jhl">
                        </div>
                    </td>
                </tr>
                <tr align="center">
                    <td>介绍</td>
                    <td width="400px">
                        <div class="formControls">
                            <textarea id="content" name="content" style="height: 400px"></textarea>
                        </div>
                    </td>
                    <td colspan="2" valign="bottom">
                        <div style="width: 100%"><img id="imgshow" style="width: 100%;height:100%;"></div>
                        <span class="btnupload" >
                          <input type="button" multiple name="file_0" id="uploadbtn" value="上传图片">
                        </span>
                        <input type="hidden" name="beautyTown.img_0" id="img_url_0" value="" readonly="readonly"/>
                        <span id="delete_files" style="color: red;display: none;cursor: pointer;font-size: 18px;"><i title="删除" class="Hui-iconfont Hui-iconfont-del"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>字符统计</td>
                    <td colspan="3">您当前输入了 <span class="word_count1">0</span>字.<span class="word_surplus"></span>
                    </td>
                </tr>
                <tr align="center">
                    <td>排序</td>
                    <td width="400px">
                        <div class="formControls">
                            <span class="select-box radius">
                          <select class="select" size="1" name="sort">
                              <option value="1" selected>1</option>
                              <for start="2" end="11">
                                  <option value="{$i}">{$i}</option>
                              </for>
                          </select>
                        </span>
                        </div>
                    </td>
                    <td>所属类别</td>
                    <td>
                        <div class="formControls">
                            <span class="select-box radius">
                          <select class="select" size="1" name="pid" id="pid">
                              <option value="">请选择</option>
                              <volist name="Product" id="vo">
                                  <option value="{$vo[id]}">{$vo[name]}</option>
                              </volist>
                          </select>
                        </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="center" valign="center">
                        <input name="fileid" id="fileid" type="hidden">
                        <input class="btn btn-primary radius" id="btnsubmit" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                        <input id="reset" type="reset" class="btn btn-primary radius" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
                        <input id="close" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script>
        $("#btnsubmit").click(function(){
                if($('#name').val()===''){
                    layer.msg('名称不能为空');
                    return false;}
            if($('#pname').val()===''){
                layer.msg('副标题不能为空');
                return false;}
            if($('#content').val()===''){
                layer.msg('介绍不能为空');
                return false;}
            if($('#pid').val()===''){
                layer.msg('所属类别不能为空');
                return false;}
                $('#fileid').val(nowtimes);
                var postData = $('#form-category-add').serializeArray();
                $.ajax({
                    type:"post",
                    url:"__URL__/indexadd/type/save",
                    data: postData,//表单数据
                    success:function(d){
                        layer.alert(d);
                        if(d===1){
                            parent.layer.msg('保存成功!<script>setTimeout("window.location.reload();",500);<\/script>', {icon: 6,time:1000});
                            parent.$('.btn-refresh').click();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }else{
                            layer.msg(d);
                        }
                    }
                });
        });
        var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
        $('#close').on('click', function(){
            $.ajax({
                type:"get",
                url:"__URL__/indexadd/type/fdelete/fileid/"+nowtimes,
                success:function(d){
                    parent.layer.close(index); //执行关闭
                }
            });
        });
        $("#delete_files").click(function(){
            $.ajax({
                type: 'GET',
                url : '__URL__/indexadd/type/delete/fileid/'+nowtimes,
                async: true,
                success: function (data) {
                    if(data==1){
                        layer.msg("文件已删除");
                        $('#delete_files').css("display","none");
                        $('.btnupload').css("display","inline");
                        $('#imgshow').css("display","none");
                    }else{
                        layer.alert(data);
                    }

                }
            });
            return false;
        });
    </script>

</block>